<section class="contact-area mb--75 mb-md--55">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 mb-sm--30">
                <div class="heading mb--32">
                    <h2>Get In Touch</h2>
                    <hr class="delimeter">
                </div>
                <div class="contact-info mb--20">
                    <p><i class="fa fa-map-marker"></i>221b Baker St, Marylebone <br>London NW1 6XE, UK</p>
                    <p><i class="fa fa-phone"></i> +1-202-242-8157</p>
                    <p><i class="fa fa-fax"></i> +1-202-501-1829</p>
                    <p><i class="fa fa-clock-o"></i> Mon – Fri : 9:00 – 18:00</p>
                </div>
                <div class="social">
                    <a href="https://www.facebook.com" class="social__link">
                        <i class="la la-facebook"></i>
                    </a>
                    <a href="https://www.twitter.com" class="social__link">
                        <i class="la la-twitter"></i>
                    </a>
                    <a href="https://www.plus.google.com" class="social__link">
                        <i class="la la-google-plus"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-7 offset-lg-1">
                <div class="heading mb--40">
                    <h2>Contact Us</h2>
                    <hr class="delimeter">
                </div>
                {% include "components/contact/contact-form.html.twig" %}
            </div>
        </div>
    </div>
</section>