<nav class="main-navigation text-center d-none d-lg-block">
    <ul class="mainmenu">
        <li class="mainmenu__item menu-item-has-children">
            <a href="index.html" class="mainmenu__link">
                <span class="mm-text">Home</span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="index.html">
                        <span class="mm-text">Home One</span>
                    </a>
                </li>
                <li>
                    <a href="index-02.html">
                        <span class="mm-text">Home Two</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="mainmenu__item menu-item-has-children megamenu-holder">
            <a href="shop.html" class="mainmenu__link">
                <span class="mm-text">Shop</span>
            </a>
            <ul class="megamenu">
                <li>
                    <a class="megamenu-title" href="#">
                        <span class="mm-text">Shop Grid</span>
                    </a>
                    <ul>
                        <li>
                            <a href="shop-fullwidth.html">
                                <span class="mm-text">Full Width</span>
                            </a>
                        </li> 
                    </ul>
                </li>
                <li>
                    <a class="megamenu-title" href="#">
                        <span class="mm-text">Shop List</span>
                    </a>
                    <ul> 
                        <li>
                            <a href="shop-list.html">
                                <span class="mm-text">Full Width</span>
                            </a>
                        </li> 
                    </ul>
                </li>
                <li>
                    <a class="megamenu-title" href="#">
                        <span class="mm-text">Product Details</span>
                    </a>
                    <ul>
                        <li>
                            <a href="product-details.html">
                                <span class="mm-text">Tab Style 1</span>
                            </a>
                        </li> 
                    </ul>
                </li>
                <li>
                    <a class="megamenu-title" href="#">
                        <span class="mm-text">Product Details</span>
                    </a>
                    <ul>
                        <li>
                            <a href="product-details-sticky-right.html">
                                <span class="mm-text">Sticky Right</span>
                            </a>
                        </li> 
                    </ul>
                </li>
            </ul>
        </li>
         
    </ul>
</nav>