<section class="feature-product-area mb--75 mb-md--55">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="feature-product bg-color" data-bg-color="#d7fbf9">
                    <div class="feature-product__inner bg-color" data-bg-color="#e9fefd">
                        <div class="feature-product__info">
                            <p class="hastag">#New Style</p>
                            <h2 class="feature-product__title"><a href="product-details.html">Luxry soft</a></h2>
                            <a href="shop.html" class="feature-product__btn">Buy now</a>
                        </div>
                        <figure class="feature-product__image mb-sm--30">
                            <a href="product-details.html">
                                <img src="/template/assets/img/products/feature-product-01.png" alt="Feature Product">
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>