<div class="footer-bottom">
    <div class="container-fluid">
        <div class="row border-top ptb--20">
            <div class="col-12 text-center">
                <p class="copyright-text">&copy; Beck 2021 Made With <i class="la la-heart"></i> By Hasthemes</p>
            </div>
        </div>
    </div>
</div>